# How to create systemd services: http://neilwebber.com/notes/2016/02/10/making-a-simple-systemd-file-for-raspberry-pi-jessie/
# Digital ocean on a mongodb service: https://www.digitalocean.com/community/tutorials/how-to-install-mongodb-on-ubuntu-16-04
[Unit]
Description=Smart Home for the Raspberry pi
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/goPath/src/github.com/torch2424/goSmartHome
ExecStart=/home/pi/goPath/src/github.com/torch2424/goSmartHome/goSmartHome --server=0.0.0.0:4000
Restart=always

[Install]
WantedBy=multi-user.target
